*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: none; outline: none;
    text-decoration: none;
    list-style: none;
    transform: all .2s linear;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(pc.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.container{
    /* width: 40rem; */
    /* background: black;
    background: white; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 5rem;
    color: black;
}

.top{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.bottom{
    display: flex;
    gap: .5rem;
    align-items: center;
}



.shuffle{
    color: white;
    font-size: 3rem;
}
.output{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.input{
    padding: 1rem;
    /* border: .1rem solid black; */
    border-bottom: .2rem solid black;
    /* background: rgba(0,0,0,0.8); */

}

.btn{
    background: green;
    font-size: 1.5rem;
    color: white;
    padding: 1.2rem;
    cursor: pointer;
}

#range{
    width: 20rem;
    /* height: 5rem; */
    padding: 1rem 0;
}

#range-val{
    margin-top: 2rem;
    font-size: 2rem;
    color: white;
}

.container{
    background: black;
    width: 40rem;
    padding: 5rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(255, 255, 255, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* 
button{
    padding: 2rem;
    font-size: 1.7rem;
    background: green;
    color: white;
    cursor: pointer;
    display: block;
}

#generate{
    margin-top: 2rem;
    font-size: 2rem;
    display: block;
    margin: 1rem 0;
}

#box{
    padding: 1.5rem 1rem;
    border: .1rem solid black;
}

.box{
    padding: 1.5rem 1rem;
    border: .1rem solid black;
    background: green;
    color: white;
    font-size: 1.4rem;
    margin-top: 1rem;
    cursor: pointer;
}

.result{
    font-size: 2rem;
    margin: 1rem 0;
    color: green;
}

.input{
    border: .1rem solid black;
    padding: 2rem;
} */